.ship-piece{
    background-color: mediumpurple;
}
​
.ship-piece-hited{
    background-color: darkmagenta;
}
​
.salvo{
    background-color: crimson;
}
body{
    background-image: url("../img/ship.jpg");
    background-size: 100%;
    
}
table{
    height: 200px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.2);
}
th{
    color: red; 
    background-color: rgba(0, 0, 0, 0.3);
}
.let{
    color: red;
    background-color: rgba(0, 0, 0, 0.3);
}
